<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact me</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">main page</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </nav>
    </header>
    <h1>hi</h1>
    <p>contact me at: <a href="mailto:verycoolguy@gmail.com">verycoolguy@gmail.com</a></p>
    <p>that's not a real email address.. at least it's not mine :)</p>
</body>
</html>